numpy==1.23.5
scipy==1.10.0
pandas==1.5.3
scikit-learn==1.2.2
scikit-image==0.20.0


matplotlib==3.6.3
seaborn==0.12.2
plotly==5.13.0


jupyter==1.0.0
jupyterlab==3.6.0
ipython==8.10.0
notebook==6.5.2


statsmodels==0.13.5
pingouin==0.5.3
scikit-optimize==0.9.0


tensorflow==2.12.0
keras==2.12.0
tensorflow-datasets==4.9.2


optuna==3.1.0


tensorboard==2.12.0
umap-learn==0.5.3
opencv-python==4.7.0.72


black==23.3.0
pylint==2.17.0
flake8==6.0.0
pytest==7.3.1